@import "tailwindcss";

html,
body {
  min-height: 100vh;
}

.forecast-section {
  margin-top: 2rem;
}

.forecast-section h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.forecast-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.forecast-item {
  flex: 1;
  min-width: 220px;

  padding: 1rem;

  border-radius: 20px;

  background: white;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.forecast-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.forecast-content img {
  width: 70px;
  height: 70px;
}

.forecast-info p:first-child {
  font-size: 1rem;
  font-weight: 500;
}

.forecast-info p:last-child {
  color: #666;
}

.sunny {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

.cloudy {
  background: linear-gradient(135deg, #bdc3c7 0%, #2c3e50 100%);
}

.rainy {
  background: linear-gradient(135deg, #4b79a1 0%, #283e51 100%);
}

.snowy {
  background: linear-gradient(135deg, #e6dada 0%, #274046 100%);
}

.storm {
  background: linear-gradient(135deg, #232526 0%, #414345 100%);
}

.night {
  background: linear-gradient(135deg, #141e30 0%, #243b55 100%);
}
